html {
	font-family: monospace;
}

h1{
	padding: 50px;
	position: relative;
	justify-content: center;
	text-align: center;
	border: thin solid darkgrey;
	background-color: lightgrey;
}
#display {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 200px;
    color: darkred;
}
#controls {
	position: relative;
	justify-content: center;
	text-align: center;
}
#start {
	color: green;
	background-color: lightgreen;
}
#pause {
	color: red;
	background-color: orange;
}
#descript {
	margin: 30px;
	border: 1px;
	text-align: center;
}
footer {
	position: relative;
	text-align: center;
	padding-bottom: 20px;
}
img {
	display: block;
        margin: auto;
        width: 10%;
}

