html {
	font-family: monospace;
}
body {
    background-color: #ffdccc;
}

h1{
	padding: 50px;
	position: relative;
	justify-content: center;
	text-align: center;
	background-color: #ffcbb3;
    background-size: cover;
    color: #e64900;
}
#display {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 8em;
    color: darkred;
    font-family: monospace
}
#controls {
	position: relative;
	justify-content: center;
	text-align: center;
}
#start {
	color: green;
	background-color: lightgreen;
}
#pause {
	color: red;
	background-color: orange;
}
#descript {
	margin: 5em;
	border: 1px;
	text-align: center;
}
footer {
    background-color: #ffeee6;
	position: relative;
	text-align: center;
	padding: 5%;
}
img {
    padding: 1%;
	display: block;
        margin: auto;
        width: 10%;
}

